td {
    height: 20px;
    font-family: monospace;
    width: 20px;
    text-align: center;
}
/*.vertical {
    background-color: green;
}
.horizontal {
    background-color: green;
}*/
.stip {
    background-color: orange;
}
table {
    border: black;
}
.noselect, td {
  /*
  Bedankt, browser compatibility :(
  Bron: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css
  */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
